<% include partials/header %>

<div class="container">
	<div id="todo">
		<h1 class="header">To-Do List   <a href="/todo/new"  role="button"><i class="fa fa-plus"></i></a></h1>
	<form  action="/todo" method="POST">
	
	<input type="text" name="todo[name]" placeholder="Add To-Do">
	 <!--<button type="button" class="btn btn-success">Success</button>-->

	</form>
	</div>
	</div>


<% include partials/footer %>